body {
    background: linear-gradient(80deg, blue, pink)
}

h1{
    font-family:'Roboto', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
}
#appCal {
    height: 550px;
    width: 300px;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: 39%;
}

#appCal form {
    height: 100%;
    width: 100%;
    background-color: pink;
}

#appCal input[type=textfield] {
    height: 25%;
    width: 90%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    color: black;
    padding: 15px;
    text-align: right;
    font-size: 60px;
    border: 0;
    outline: none;
}

#appCal input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    margin-bottom: 6px;
    border: 0;
    border-radius: 20%;
}

.blue {
    background-color: rgb(140, 229, 216);
    color: white;
}

#appCal .blue:hover{
    background-color: lightseagreen;
}

.purple {
    background-color: rgb(198, 164, 237);
    color: black !important;
}

#appCal .purple:hover {
background-color: plum
}

.reset:hover {
    background-color: lightcoral;
}

.open:hover {
    background-color: rgb(232, 232, 142);
}

.close:hover {
    background-color: rgb(232, 232, 142);
}

.equal:hover {
    background-color: greenyellow !important;
}